# 1.1 List and Tuple
    List: mutable, iterable
    Tuple: immutable, iterable

## **List**

In [1]:
Courses = ['History', 'math', 'physics', 'Computer Science']
Courses2 = ['Bio', 'Eng']
print(Courses[-1])     # To get the last item
print(len(Courses))
print(Courses[:2])
print(Courses[2:])

Computer Science
4
['History', 'math']
['physics', 'Computer Science']

In [2]:
# adjustable

Courses = ['History', 'math', 'physics', 'Computer Science']
Courses2 = ['Bio', 'Eng']

Courses[0] = 'Not a Subject'
print(Courses)
print('\n')
#Courses = Courses.append('Art')  # error demonstration: no return on the list "append" operation
Courses.append('Art')
print(Courses)
print('\n')

Courses.insert(0,'Art')
print(Courses)
print('\n')
# Courses.insert(0,Courses2) # can insert other list, dict, tuple, other objects, etc
# print(Courses)

Courses.remove('math')
print(Courses)
print('\n')

Popped = Courses.pop()
print(Courses, Popped)

['Not a Subject', 'math', 'physics', 'Computer Science']


['Not a Subject', 'math', 'physics', 'Computer Science', 'Art']


['Art', 'Not a Subject', 'math', 'physics', 'Computer Science', 'Art']


['Art', 'Not a Subject', 'physics', 'Computer Science', 'Art']


['Art', 'Not a Subject', 'physics', 'Computer Science'] Art

In [3]:
Courses = ['History', 'math', 'physics', 'Computer Science']
Courses2 = ['Bio', 'Eng']

Courses.extend(Courses2)
print(Courses, len(Courses))
print('\n')

Courses = ['History', 'math', 'physics', 'Computer Science']
Courses2 = ['Bio', 'Eng']
Courses.append(Courses2)
print(Courses, len(Courses))

['History', 'math', 'physics', 'Computer Science', 'Bio', 'Eng'] 6


['History', 'math', 'physics', 'Computer Science', ['Bio', 'Eng']] 5

In [4]:
Courses = ['History', 'math', 'physics', 'Computer Science']
Courses2 = ['Bio', 'Eng']
nums = [1, 5, 2, 3, 7, 0]
nums2 = [1, 5, 2, 3, 7, 0]

Courses.reverse()
print(Courses)
print('\n')

# please compare below and reflect
nums.sort(reverse = True)   # no return, inplace operation (please learn the concept of "inplace")
print(nums)
A = sorted(nums2)   # have return, not inplace operation
print(nums2)
print(A)

['Computer Science', 'physics', 'math', 'History']


[7, 5, 3, 2, 1, 0]
[1, 5, 2, 3, 7, 0]
[0, 1, 2, 3, 5, 7]

In [5]:
Courses = ['History', 'math', 'physics', 'Computer Science']

Courses.index('physics')
print('math' in Courses)
print('\n')

# iterable
for index, course in enumerate(Courses):
    print(index, course)
print('\n')
for index, course in enumerate(Courses):
    print(index, course)
print('\n')
    
# some functions for "str" type
Course_str = ', '.join(Courses)
print(Course_str)
Course_str1 = ' - '.join(Courses)
print(Course_str1)
new_list = Course_str.split(', ')
print(new_list)

True


0 History
1 math
2 physics
3 Computer Science


0 History
1 math
2 physics
3 Computer Science


History, math, physics, Computer Science
History - math - physics - Computer Science
['History', 'math', 'physics', 'Computer Science']

In [6]:
"""Difference between " == " and " is ":
    * " is ": Objective identity
    *  " == ": If value equal"""

list0 = [1, 2, 3, 4, 5]
list2 = list0
print(list0==list2, list0 is list2)
# What have you found below ?
list0[0] = 0
print(list0)
print(list2)
print(id(list0), id(list2))
print('\n')

list0 = [1, 2, 3, 4, 5]
list2 = [item for item in list0]
print(list0==list2, list0 is list2)
# Compare with former codes, what have you learnt?
list0[0] = 0
print(list0)
print(list2)
print(id(list0), id(list2))

True True
[0, 2, 3, 4, 5]
[0, 2, 3, 4, 5]
2834255291712 2834255291712


True False
[0, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
2834255200832 2834255087168

## **Tuple**

In [7]:
empty_list = []
empty_list1 = list()
empty_tuple = ()
empty_tuple1 =tuple()
print(type(empty_list), type(empty_list1))
print(type(empty_tuple), type(empty_tuple1))
print('\n')

nums = (1, 2, 3, 4)
print(nums)
print(nums[0])
# nums[0] = 1 # raise error, tuple is immutable
# But the lines below are executable, please find out why
nums = ([1], 2, 3, 4)
nums[0][0] = 10
nums[0].append(0)
print(nums)
print('\n')

for index, num in enumerate(nums):
    print(index, num)

<class 'list'> <class 'list'>
<class 'tuple'> <class 'tuple'>


(1, 2, 3, 4)
1
([10, 0], 2, 3, 4)


0 [10, 0]
1 2
2 3
3 4

In [8]:
sample = ('hello','beauty','passion','impact') # tuple
item1, *item2, item3 = sample
print(item1)
print(item2)
print(item3) 

item1, *item2 = sample
print(item1)
print(item2)

*item1, item2 = sample
print(item1)
print(item2)

# throwing away unwanted elements from defined tuple

item1,*_, item2 = sample
print(item1)
print(item2)

*_,item1, item2 = sample
print(item1)
print(item2)

hello
['beauty', 'passion']
impact
hello
['beauty', 'passion', 'impact']
['hello', 'beauty', 'passion']
impact
hello
impact
passion
impact

# 1.2 Dictionary and Set
    Dictionary: mutable, iterable, no order
    Set: immutable, iterable, no order, elements are non-repeatable

## **Set**

In [9]:
Set_courses = {'History', 'math', 'physics', 'Computer Science'}
Set_courses1 = {'History', 'math', 'Art', 'Design'}
print(Set_courses, type(Set_courses))
print('\n')

print(Set_courses.intersection(Set_courses1))
print(Set_courses.difference(Set_courses1))
print(Set_courses.union(Set_courses1))
print('\n')

print(Set_courses-Set_courses1)
print(Set_courses&Set_courses1)
print('\n')

empty_set = {}         # this is an empty dict
empty_set1 = set()
print(type(empty_set), type(empty_set1))
print('\n')

for item in Set_courses:
    print(item)

{'physics', 'History', 'math', 'Computer Science'} <class 'set'>


{'History', 'math'}
{'physics', 'Computer Science'}
{'Art', 'math', 'Computer Science', 'physics', 'History', 'Design'}


{'physics', 'Computer Science'}
{'History', 'math'}


<class 'dict'> <class 'set'>


physics
History
math
Computer Science

## **Dictionary**

In [10]:
student = {'name' : 'John', 'age' : 25, 'courses' : ['math', 'Computer science']}

print(student, type(student))
print(student['name'])    #print(student('name')) will raise error, why?
print('\n')

# three important components of dict: keys, values, items
print(student.keys())
print(student.values())
print(student.items())
print('\n')

# query
print(student.get('name'))
print(student.get('phone'))
print(student.get('phone', 'Not Found'))
print('\n')

# assign
student['phone'] = '555-55555'
student['name'] = 'jane'
print(student)
print('\n')

student.update({'name':'Jon', 'age' : 26, 'phone' : '222-22222'})    #take dict as input
print(student)
print('\n')

del(student['age'])
print(student)
print('\n')

student['age'] = 20
age = student.pop('age')
print(age)
print('age' in student.keys())
print('\n')

Student = {key: value for key, value in student.items() if len(value)>5}
print(Student)
for key, value in student.items():
    print(key, value)

{'name': 'John', 'age': 25, 'courses': ['math', 'Computer science']} <class 'dict'>
John


dict_keys(['name', 'age', 'courses'])
dict_values(['John', 25, ['math', 'Computer science']])
dict_items([('name', 'John'), ('age', 25), ('courses', ['math', 'Computer science'])])


John
None
Not Found


{'name': 'jane', 'age': 25, 'courses': ['math', 'Computer science'], 'phone': '555-55555'}


{'name': 'Jon', 'age': 26, 'courses': ['math', 'Computer science'], 'phone': '222-22222'}


{'name': 'Jon', 'courses': ['math', 'Computer science'], 'phone': '222-22222'}


20
False


{'phone': '222-22222'}
name Jon
courses ['math', 'Computer science']
phone 222-22222

In [11]:
# please differentiate below

dict1 = {1: 1, 2: 2}
print(dict1)
print(dict1[1])

dict2 = {'1': 1, '2': 2}
print(dict2)
print(dict2['1'])
print(dict2[1]) # will raise error

{1: 1, 2: 2}
1
{'1': 1, '2': 2}
1

KeyError: 1

In [12]:
dict1 = {}
dict1['a'] = 1000
dict1['b'] = 500
dict1['c'] = 2000
dict1['d'] = 50
dict1['e'] = 10000

print(dict1)
print('\n')

# sort by keys
print(min(dict1))
print(max(dict1))
print(sorted(dict1))
print('\n')

# sort by values
print(sorted(dict1, key=dict1.get))
print('\n')

# use "zip" to put values and keys together into tuple-like structure
zip_kv = list(zip(dict1.values(), dict1.keys()))
print(zip_kv)
print('\n')

min_value = min(zip_kv)
print(min_value)
max_value = max(zip_kv)
print(max_value)
sorted_value = sorted(zip_kv)
print(sorted_value)

{'a': 1000, 'b': 500, 'c': 2000, 'd': 50, 'e': 10000}


a
e
['a', 'b', 'c', 'd', 'e']


['d', 'b', 'a', 'c', 'e']


[(1000, 'a'), (500, 'b'), (2000, 'c'), (50, 'd'), (10000, 'e')]


(50, 'd')
(10000, 'e')
[(50, 'd'), (500, 'b'), (1000, 'a'), (2000, 'c'), (10000, 'e')]

# 1.3 Data Types
* float
* int
* string
* bool
* class
* function

### **float**

In [13]:
# round a floating-point number to a fixed number of decimal places
import random 

sample_float = random.uniform(1,100)
round_float = round(sample_float,2) # use of round function
print(round_float, type(round_float))
print(f'{sample_float:0.2f}')
print('\n')

sample_float2 = random.uniform(1,100)
print(sample_float2, type(round_float))
round_float2 = format(sample_float2,'0.2f') #0.2f refers to 2nd decimal place
print(round_float2, type(round_float2))
print(f'{sample_float2:0.2f}')
print('\n')

# watch the danger below :)
answer = round_float + float(round_float2)
print(answer)

29.31 <class 'float'>
29.31


88.03143004194237 <class 'float'>
88.03 <class 'str'>
88.03


117.34

In [14]:
# formatting numbers for output using format()
import random
# Right justified in 15 with 2-digit accuracy
sample_float1 = random.uniform(1,100)
round_float1 = format(sample_float1,'>10.2f') #0.2f refers to 2nd decimal place
print(round_float1)
print('\n')

# Left justified in 15 with 2-digit accuracy
sample_float2 = random.uniform(1,100)
round_float2 = format(sample_float2,'<10.2f') 
print(round_float2)
print('\n')

# Left justified in 15 with 2-digit accuracy
sample_float3 = random.uniform(1,100)
round_float3 = format(sample_float3,'^10.2f') 
print(round_float3)
print('\n')

# inclusion of thousand separator
sample_float4 = random.uniform(1,10000)
round_float4 = format(sample_float4,',.3f')
print(round_float4)
print('\n')

# use of exponential specifier
sample_float5 = random.uniform(1,1000000)
print(sample_float5)
round_float5 = format(sample_float5,'e') # can be e or E
print(round_float5)
print('\n')

# use of exponential specifier with 2-digit accuracy
sample_float6 = random.uniform(1,1000000)
print(sample_float6)
round_float6 = format(sample_float6,'0.2e') # can be e or E
print(round_float6)

     67.64


40.61


   1.54


5,225.278


382301.13387850934
3.823011e+05


577790.7871999479
5.78e+05

### **int**

In [15]:
# working with binary, octal and hexadecimal 
import random 

sample_number =  random.randint(1,1000)
print(hex(sample_number), type(hex(sample_number)))
print(oct(sample_number), type(oct(sample_number)))
print(bin(sample_number), type(bin(sample_number)))
print('\n')

sample_number2 =  random.randint(1,1000)
print(format(sample_number2,'b'))
print(format(sample_number2,'o'))
print(format(sample_number2,'x'))
print('\n')

sample_number3 =  -(random.randint(1,1000))
print(format(sample_number3,'b'))
print(format(sample_number3,'o'))
print(format(sample_number3,'x'))
print('\n')

# convert back into integer
print (int('2a7',16))
print (int('10011010010',8))

0xe8 <class 'str'>
0o350 <class 'str'>
0b11101000 <class 'str'>


1000011001
1031
219


-11001001
-311
-c9


679
1076105224

In [16]:
sample_number =  random.randint(1,10e30)

byte_transform1 = sample_number.to_bytes(16,'big') # 16 represents the number of bytes, 'big' or 'small' represent byte order
print(byte_transform1)
byte_transform2 = sample_number.to_bytes(16,'little')
print(byte_transform2)

length_byte = len(byte_transform2)
print(length_byte)
byte_transform_reverse1 = int.from_bytes(byte_transform2,'little')
print(byte_transform_reverse1)
byte_transform_reverse2 = int.from_bytes(byte_transform2,'big')
print(byte_transform_reverse2)

b'\x00\x00\x00X\xceI:\xb5O\xe0\x9dP\x8b\x91Iv'
b'vI\x91\x8bP\x9d\xe0O\xb5:I\xceX\x00\x00\x00'
16
7035920742105163117392821307766
157230893160349895814317235321255755776

### **string**

In [17]:
# searching and replacing text
import string 
import random 
letters = string.ascii_letters
print(letters)
value = random.randint(1,1e2)
test_string = ''
for i in range(value):
    test_string += random.choice(letters)
    test_string += " "
print(test_string)
print('\n')

modified_string = test_string.replace('F' or 'f', 'Fannie')
modified_string = modified_string.replace('m' or 'M', '$$$')
print(modified_string)
print('\n')

sample1 = '30/07/2021'
print(sample1.replace('/', '-'))

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
n J t C o e D Q T Z G T C M F L A P C I X E i T s k I U q w I J E N p t M F s s g R i c c s B a O X r V M R P v h o L h X X y P x T x d c J


n J t C o e D Q T Z G T C M Fannie L A P C I X E i T s k I U q w I J E N p t M Fannie s s g R i c c s B a O X r V M R P v h o L h X X y P x T x d c J


30-07-2021

In [18]:
msg = 'Hello world!'
msg1 = "Hello Python's world"
msg2 = 'Hello Python\'s world'
print(msg[0:5])   #cannot get item with index 5
print(msg[6:])
print(msg[:5])
print('\n')

print(msg.count('l'))
print(msg.count('Hello'))
print(msg.find('world'))
print(msg.find('WWorld'))
New_msg = msg.replace('world', 'universe')
print(New_msg + '\n' + msg)
print('\n')

name1 = 'I'
name2 = 'Python'
msg3 = '{} loves {}'.format(name1,name2)
msg4 = f'{name1} loves {name2}'
print(msg3)
print(msg4)

Hello
world!
Hello


3
1
6
-1
Hello universe!
Hello world!


I loves Python
I loves Python

In [19]:
# matching text at the start or end of a string
import os
filenames = os.listdir('.')
result1 = [name for name in filenames if name.endswith(('.ipynb','.ipynb_checkpoints'))] 

# use of a tuple iterable
print(result1)
# use of any function and a tuple iterable
print(any(name.endswith(('.ipynb','ipynb_checkpoints')) for name in filenames))
# The next line of code has the same results as the previous line
# print(any((name.endswith(('.ipynb','ipynb_checkpoints')) for name in filenames)))
print('\n')

sample_file = 'samplefile.txt'
print(sample_file[-4:])
print(sample_file[:4])
print(sample_file[:])
print('\n')

if sample_file[-4:] == '.txt':
    print(str(True))
else: 
    print(str(False))

['.ipynb_checkpoints', '1. Basic Data Types and Data Structure.ipynb', '2. List and Dictionary Comprehensions.ipynb', '3. Text Manipulation and Regular Expression.ipynb', '4. Basic Grammers if, while, for.ipynb', '5. Functions.ipynb', '6. It is all about class.ipynb']
True


.txt
samp
samplefile.txt


True

In [20]:
# stripping unwanted characters from strings using strip()
import string 
import random 
letters = string.ascii_letters
print(letters)
value = random.randint(1,1e2)
test_string = ''
for i in range(value):
    test_string += random.choice(letters)
    test_string += " "
print(" "+test_string+" ")
print('\n')

result1 = test_string.strip() # remove whitespaces from the beginning or end of new_string
print(result1)
result2 = test_string.lstrip() # remove whitespaces from the left side of new_string
print(result2)
result3 = test_string.rstrip() # remove whitespaces from the right side of new_string
print(result3)
print('\n')

result4 = test_string.replace(' ', '')
print(result4)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
 M u Z w E y I S g R m l s o l W p w U j F W l x c T W t m g p T b J T Q R f c R K J s u R D E h G T y X W V t a O D b L k d X


M u Z w E y I S g R m l s o l W p w U j F W l x c T W t m g p T b J T Q R f c R K J s u R D E h G T y X W V t a O D b L k d X
M u Z w E y I S g R m l s o l W p w U j F W l x c T W t m g p T b J T Q R f c R K J s u R D E h G T y X W V t a O D b L k d X
M u Z w E y I S g R m l s o l W p w U j F W l x c T W t m g p T b J T Q R f c R K J s u R D E h G T y X W V t a O D b L k d X


MuZwEyISgRmlsolWpwUjFWlxcTWtmgpTbJTQRfcRKJsuRDEhGTyXWVtaODbLkdX

In [21]:
# sanitizing and cleaning up text using translate()
print(ord('f'), ord('e'))
remap = {
    ord('p'): 'python',
    ord('e'): 'eeeeeeee',
    ord('m'): '$$$'
}
string = "paawrpqervpma"
print(string.translate(remap))

102 101
pythonaawrpythonqeeeeeeeervpython$$$a

In [22]:
# combining and concatenating strings using join()
sample_list = ['you', 'love', 'python']
result1 = ' '.join(sample_list)
print(result1)
result2 = ''.join(sample_list)
print(result2)
result3 = ','.join(sample_list)
print(result3)
result4 = ','.join(str(item) for item in sample_list)
print(result4)
print('\n')

sample_text1 = 'you'
sample_text2 = 'love python'
result5 = sample_text1 + ' ' + sample_text2
print(result5)
print(sample_text1, sample_text2, sep=' ')

you love python
youlovepython
you,love,python
you,love,python


you love python
you love python

### **bool**
#### False values: 
    *  False
    *  None
    *  zero of any numeric type
    *  Any empty sequence: [], (), ''
    *  Any empty mapping: {}

In [23]:
t = True
f = False

print(type(t), type(f))
if t:
    print('True')
if not f:
    print('False')

<class 'bool'> <class 'bool'>
True
False

### **class**

In [24]:
# class is also a data type. In fact, int, bool, and float are also a class
class Employee(object):
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
    def __repr__(self):
        return '{}({}, {}, ${})'.format(type(self).__name__, self.name, self.age, self.salary)

employee1 = Employee('xyz', 30, 1000000)
print(employee1, type(employee1))
print('\n')

list1 = []
# append an instance of the Employee class
list1.append(employee1)
print(list1)
print('\n')

# append Employee class
list1.append(Employee)
print(list1)

Employee(xyz, 30, $1000000) <class '__main__.Employee'>


[Employee(xyz, 30, $1000000)]


[Employee(xyz, 30, $1000000), <class '__main__.Employee'>]

### **function**

In [25]:
def func1(x):
    return x**2

print(func1, type(func1))
print(func1(2))
print('\n')

list1 = []
# append a value
list1.append(func1(2))
print(list1)

# append func1
list1.append(func1)
print(list1)

<function func1 at 0x00000293E6D09EE0> <class 'function'>
4


[4]
[4, <function func1 at 0x00000293E6D09EE0>]

### **special numbers**

In [26]:
# use of negative and positive infinity and NaNs; NaN -> not a number
import random
import math

sample1 = float('inf')
sample2 = float('-inf')
sample3 = float('nan')
print(sample1, sample2, sample3)
print('\n')

a = random.randint(1,100)
a += sample1
print(a)
print('\n')

result1 = math.isinf(sample1)
print(result1)
result2 = math.isnan(sample1)
print(result2)

inf -inf nan


inf


True
False